# Node modules
/node_modules/

# Build directories
/build/
/dist/

# Log files
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment file
.env

# IDE specific files
/.vscode/
/.idea/
/*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Other system files
*.swp
