# dependencies
/node_modules/

# build output
/build/

# misc
/.idea/
/.vscode/
/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env
.env.*.local

# log files
*.log

# Next.js build output
.next/

# React Native
.expo/
.expo-shared/

# Windows Installer files
Thumbs.db

# macOS Finder files
.AppleDouble
.LSOverride

# package-lock.json / yarn.lock files (if you want to ignore them)
# package-lock.json
# yarn.lock

# JetBrains IDEs
.idea/

# VS Code settings
.vscode/

# Storybook build
storybook-static/
